.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.slide_bar {
  width: 300px;
}

.list {
  .list_user {
    padding: 10px 0;
  }
  .list_user:focus{
    outline: none;
  }
}

.sidenav-toggle mat-button {

}
